<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4cef0">  <td>19/03/19 01:13:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStoreExceptions.AlternatePath_InvalidEmail()[pri:0, instance:GooglePlay.PlayStoreExceptions@fad74ee]">AlternatePath_InvalidEmail</td> 
  <td>main@1728790703</td>   <td></td> </tr>
<tr bgcolor="b4cef0">  <td>19/03/19 01:13:42</td>   <td>21175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStoreExceptions.AlternatePath_InvalidPassword()[pri:1, instance:GooglePlay.PlayStoreExceptions@fad74ee]">AlternatePath_InvalidPassword</td> 
  <td>main@1728790703</td>   <td></td> </tr>
<tr bgcolor="61eaf6">  <td>19/03/19 01:13:21</td>   <td>-320</td> <td>&nbsp;</td><td title="&lt;&lt;PlayStoreHappyPath.driverClosing()[pri:0, instance:GooglePlay.PlayStoreHappyPath@7a1ebcd8]">&lt;&lt;driverClosing</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1728790703</td>   <td></td> </tr>
<tr bgcolor="b4cef0">  <td>19/03/19 01:19:26</td>   <td>364898</td> <td>&nbsp;</td><td title="&lt;&lt;PlayStoreExceptions.driverClosing()[pri:0, instance:GooglePlay.PlayStoreExceptions@fad74ee]">&lt;&lt;driverClosing</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1728790703</td>   <td></td> </tr>
<tr bgcolor="61eaf6">  <td>19/03/19 01:11:19</td>   <td>-121680</td> <td>&nbsp;</td><td title="&gt;&gt;PlayStoreHappyPath.login()[pri:0, instance:GooglePlay.PlayStoreHappyPath@7a1ebcd8]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1728790703</td>   <td></td> </tr>
<tr bgcolor="b4cef0">  <td>19/03/19 01:14:21</td>   <td>60328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStoreExceptions.testAlternatePath_FirstOrLastGameIsAlreadyAddedToWishList()[pri:2, instance:GooglePlay.PlayStoreExceptions@fad74ee]">testAlternatePath_FirstOrLastGameIsAlreadyAddedToWishList</td> 
  <td>main@1728790703</td>   <td></td> </tr>
<tr bgcolor="b4cef0">  <td>19/03/19 01:16:48</td>   <td>206881</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStoreExceptions.testAlternatePath_thereIsNoDeviceForInstallation()[pri:3, instance:GooglePlay.PlayStoreExceptions@fad74ee]">testAlternatePath_thereIsNoDeviceForInstallation</td> 
  <td>main@1728790703</td>   <td></td> </tr>
<tr bgcolor="61eaf6">  <td>19/03/19 01:12:09</td>   <td>-71584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStoreHappyPath.testHappyPathAddFirstAndLastGameToWhishListAndInstallThem()[pri:0, instance:GooglePlay.PlayStoreHappyPath@7a1ebcd8]">testHappyPathAddFirstAndLastGameToWhishListAndInstallThem</td> 
  <td>main@1728790703</td>   <td></td> </tr>
</table>
