<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="61eaf6">  <td>19/03/19 00:48:55</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;PlayStoreHappyPath.login()[pri:0, instance:GooglePlay.PlayStoreHappyPath@7a1ebcd8]">&gt;&gt;login</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@213193302</td>   <td></td> </tr>
<tr bgcolor="61eaf6">  <td>19/03/19 00:49:27</td>   <td>32463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlayStoreHappyPath.testHappyPathAddFirstAndLastGameToWhishListAndInstallThem()[pri:0, instance:GooglePlay.PlayStoreHappyPath@7a1ebcd8]">testHappyPathAddFirstAndLastGameToWhishListAndInstallThem</td> 
  <td>main@213193302</td>   <td></td> </tr>
<tr bgcolor="61eaf6">  <td>19/03/19 00:50:16</td>   <td>81027</td> <td>&nbsp;</td><td title="&lt;&lt;PlayStoreHappyPath.driverClosing()[pri:0, instance:GooglePlay.PlayStoreHappyPath@7a1ebcd8]">&lt;&lt;driverClosing</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@213193302</td>   <td></td> </tr>
</table>
